In [1]:
import pandas as pd  
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px
import statsmodels.formula.api as smf 
from stargazer.stargazer import Stargazer
df = pd.read_csv("data/df_final.csv")

<h1>Benedict Meeske</h1>

Aufgaben 5, 10, 11, 12, 14, 15, 16

# 5. Wie hoch war der durchschnittliche Umsatz pro Bundesland?

In [2]:
df_umsatz = df[df["Preis"] > 0]
df_umsatz = df_umsatz[["Preis" , "Niederlassung"]]

In [3]:
avg_umsatz = df_umsatz.groupby("Niederlassung")["Preis"].mean().round(2).reset_index().sort_values(by = "Preis") 
avg_umsatz

         Niederlassung     Preis
4              Hamburg  85549.50
5               Hessen  85864.93
3          Brandenburg  86673.64
6        Niedersachsen  87963.31
7  Nordrhein-Westfalen  88633.27
1               Bayern  89344.31
8              Sachsen  89455.08
2               Berlin  89584.98
9            Th端ringen  90816.99
0    Baden-W端rttemberg  90969.56